@import './utils/variables';
@import './utils/reset';
@import './components/base';
@import './components/visually-hidden';
@import './utils/mixins';

@import './components/logo';
@import './components/header';
@import './components/main-nav';
@import './components/hero';
@import './components/button';
@import './components/features';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/footer';

@import './components/modal';
@import './components/register-form';

@import './components/portfolio-filter';
@import './components/portfolio-cards'