html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    background-color: var(--light);
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(mob) {
        width: 480px;
    }

    @include mq(tab) {
        width: 768px;
    }

    @include mq(desk){
        width: 1200px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desk){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
    font-size: 28px;
    line-height: 1.17;

    @include mq(desk){
        margin-bottom: 50px;

        font-size: 36px;
    }
}