html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    background-color: var(--light);
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}