.features__list {
    @include mq(tab){ 
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
   }

    @include mq(desk){
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.features__item {
    @include mq(tab){
        max-width: 354px;
    }

    &:not(:last-child) {
        @include mq(mob-only){
            margin-bottom: 30px;
        }
    }
}

.features__box {
    margin-bottom: 30px;
    
    @include flex(center, center);

    height: 120px;

    background-color: var(--background-color-light);
}

.features__title {
    margin-top: 0;
    
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include mq(mob-only) {
        text-align: center;
    }
}

.features__text {
    margin: 0;
    
    color: var(--text-color);
    line-height: 1.7;
}