.header {
    border-bottom: 1px solid var(--border-top);
}

.header__container {
    @include flex(center, space-between);
}

.header__logo {
    margin-right: 93px;

    @include mq(mob-only){
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @include mq(tab-only){
        margin-right: 87px;
    }
}

.header__nav {
    @include flex(center, null);
}

.header-contacts {
    display: flex;
    gap: 50px;

    @include mq(mob-only){
        display: none;
    }

    @include mq(tab-only){
        display: block;
        // flex-direction: column;
        // align-items: flex-start;
    }
}

.header-contacts__link {
    @include flex(center, null);
    gap: 10px;

    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 0.02em;

    @include mq(tab-only) {
        font-size: 12px;
    }

    @include mq(desk) {
        line-height: 1.14;
    }

    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-contacts__icon {
    fill: var(--text-color);

    transition: fill var(--anim);

    .header-contacts__link:hover &,
    .header-contacts__link:focus & {
        fill: currentColor;
    }
}

