.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    
    background-color: var(--background-color-dark);
    background-image: 
    linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bg-img/hero-bg-mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(retina) {
        background-image: 
        linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bg-img/hero-bg-mob@2x.jpg);
    }

    @include mq(tab){
        background-image: 
        linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-img/hero-bg-tab@1x.jpg);
        @include mq(retina){
            background-image: 
            linear-gradient(
                to right, 
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/bg-img/hero-bg-tab@2x.jpg);
        }
    }

    @include mq(desk){
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: 
        linear-gradient(
            to right, 
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-img/hero-bg-desk@1x.jpg);
        @include mq(retina){
            background-image: 
            linear-gradient(
                to right, 
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/bg-img/hero-bg-desk@2x.jpg);
        }
    }
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 360px;

    @include mq(desk){
        max-width: 696px;
    }

    color: var(--light);
    font-weight: 900;

    font-size: 26px;
    line-height: 1.62;

    @include mq(desk){
        font-size: 44px;
        line-height: 1.36;
    }
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__btn {
    @extend %primary-btn;
    padding-left: 32px;
    padding-right: 32px;

    &:active {
        background-color: #188CE8;
    }
}
