.filter {
    margin-bottom: 30px;

    @include flex(null, center);
    gap: 8px;

    @include mq(mob-only){
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 326px;
    }

    @include mq(desk){
        margin-bottom: 50px;
    }
}

.filter__btn {
    padding: 6px 22px;
    
    cursor: pointer;
    color: var(--main-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    background-color: var(--background-color-light);  
    border-radius: 4px;
    border: none;

    transition: background-color var(--anim), 
    color var(--anim), 
    box-shadow var(--anim);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filter__btn--active {
    color: var(--light);
    background-color: var(--accent-color);
}