:root {
    --main-text-color: #212121;
    --text-color: #757575;
    --light: #ffffff;
    --accent-color: #2196F3;


    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;

    --border: #EEEEEE; 
    --border-top: #ECECEC;
    --icon: #AFB1B8;

    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
}
